body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
}

summary {
  list-style: none;
  border-bottom: 0.2rem solid black;
  font-size: 2rem;
} 

summary::-webkit-details-marker {
  display: none
}

summary::after {
  content: '+';
  margin-left: 16rem;
}

details[open] summary:after {
  content: '-';
}

li {
  font-size: 1.5rem;
}

.artist-profile {
  display: flex;
  justify-content: space-around;

  width: 50vw;
}