body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
}

summary {
  list-style: none;
  border-bottom: 0.2rem solid lightgray;
  font-size: 2rem;
} 

summary::-webkit-details-marker {
  display: none
}

summary::after {
  content: '+';
  display: flex;
}

details[open] summary:after {
  content: '-';
}

details[open] summary{
  background-color: lightgray;
}

li {
  font-size: 1.5rem;
}

.artist-profile {
  display: flex;
  justify-content: center;
  width: 100vw;
  gap: 3rem;

  margin-top: 4rem;
}

img {
  height: 20vw;
}

.discography {
  width: 30vw;
}